<h1>Cocktails</h1>

<ul>
<% @cocktails.each do |cocktail|%>

<li><%= link_to cocktail.name, cocktail_path(cocktail) %> | <%= link_to "edit", edit_cocktail_path(cocktail) %> - <%= link_to "delete", cocktail_path(cocktail), method: 'delete' %></li>

<% end %>
</ul>

<p><%= link_to "Add a cocktail", new_cocktail_path %></p>